/* =============== GLOBALE =============== */

/* Import font */
@import url('fonts.googleapis.com/css?family=Merriweather:400,900, https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Entfernt Rand ganze Site */
body {
  margin: 0;
  /* text-align: center; */
}

/* Tatsächliche Boxbreite = width-Angabe
Sobald einem Element die Eigenschaft (box-sizing: border-box;)
zugewiesen wurde, entspricht die tatsächliche Boxbreite
der angegebenen Breite width. */
/* Für einen HTML-Block wird box-sizing als border-box notiert.
Das zwingt den Browser, den kompletten Block innerhalb
der angegebenen Breite zu rendern.
padding und border werden innerhalb der Box gerendert
und der Inhalt auf den verbleibenden Raum beschränkt. */

html {
  box-sizing: border-box;
}
/* https://www.html-seminar.de/box-modell-box-sizing-border-box.htm */
/* Mit dem Universalselektor * wird dies auf alle Elemente angewendet. */
*, *:before, *:after {
  box-sizing: border-box;
}

/*
Mit CLASS (.class) werden mehrere Elemente angesprochen
Die ID (zB. html) nur für 1 einziges Element pro HTML-Seite verwenden */


/* Globale Typografie Styles */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 54px;
  text-align: left;
  line-height: 1.1;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
}

h3 {
  font-size: 24px;
  margin: 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 2.5;
  text-align: left;
  font-weight: bold;
  color: grey;
  margin: 0;
}

.lead-left {
  font-size: 20px;
  text-align: left;
  color: grey;
}

.lead {
  font-size: 20px;
  text-align: center;
  color: grey;
}

.p_bold {
  font-weight: bold;
}

.text-white {
  color: white;
  margin-top: 50px;
}

.wrapper {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
  }

.row {
  margin: 0 -25px;
}

.row:after {
  content: ' ';
  clear: both;
  display: table;
}

.col {
  float: left;
  margin: 0 25px;
  border: 1px solid black;
}

.half {
  width: calc(50% - 50px);
  border: 1px dotted red;
}

.space {
  margin-top: 150px;
}

.space-small {
  margin-top: 50px;
}



/* =============== HEADER/NAVIGATION =============== */

.head{
  overflow: hidden;
  /* Macht Elemente erkennbar */
}

.logo_header {
  float: left;
}

/* Navigation */
.main-nav {
  float: left;
}

.main-nav li {
  float: left;
}

.main-nav-right {
  float: right;
}

nav li {
  padding: 0 5 10 5;
  border: 1px;
  margin-left: 10px;
  margin-right: 10px;
  color: grey;
  list-style: none;
}

.nav-button {
  border: 1px solid #3f46ad;
  padding: 5px;
  color: #3f46ad;
  border-radius: 4px;
  margin-top: -6px;
}

.nav-button:hover {
  border: 1px solid grey;
  color: grey;
}

.sticky-header {
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 100;
  transition: 1s;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
}


/* =============== MAIN =============== */

.img-home {
  align-self: center;
  max-width: 100%;
}

.button-c2a {
  background: #3f46ad;
  max-height: 55px;
  padding: 15px 40px 15px 40px;
  border-radius: 4px;
  float: left;
  margin-left: 0;
}

.button-c2a a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.button-c2a p {
  margin: 0;
}

.button-c2a:hover {
  background-color: #eee;
}

.clear-left {
  clear: left;
  padding-top: 20px;
}

.lead_center {
  text-align: center;
  color: grey;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: normal;
}

.link-center {
  color: #3f46ad;
  text-decoration: underline;
  text-align: center;
}

.link-position {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}


/* =============== MEDIA QUERIES BREAKPOINTS =============== */

/* s	@media screen and (min-width: 568px)
m	@media screen and (min-width: 768px)
l	@media screen and (min-width: 1024px)
xl	@media screen and (min-width: 1280px) */


/* GO FULL WIDTH AT LESS THAN 568 PIXELS */

@media only screen and (max-width: 568px) {
  .half-s {
    width: 100%;
  }

  h1 {
    font-size: 34px;
  }
}
